# Server config
server:
  # Server ip address
  ip: 127.0.0.1
  # Listen port
  port: 8089
# Mail sender config
mail:
  # SMTP server ip address or domain name
  host: ''
  # SMTP port
  # 465: TLS
  # 25: Normal
  port: 465
  # Sender mail address
  mail: ''
  from-mail: ''
  nick-name: 'FRP Admin'
  # Sender mail password
  password: ''
  template:
    -
      # !!!!! Note !!!!!
      # Don't delete this template config and file.
      name: example-template
      path: ./template/example-template.html
# Database config
database:
  # MySQL
  mysql:
    # MySQL Host ip address or domain name
    host: 127.0.0.1
    # MySQL port(default: 3306)
    port: 3306
    # Database name
    db: frp_admin
    # MySQL username
    user: ''
    # MySQL password
    password: ''
  # Redis
  redis:
    # Redis host ip address or domain name
    host: 127.0.0.1
    # Redis port(default: 6379)
    port: 6379
    # Database index(default: 0)
    db: 0
    # Redis password(default: '')
    password: ''
    # Pool size(default: 100)
    pool-size: 100
    # Timeout(second)
    timeout: 5
# Security config
security:
  # Password config
  password:
    # Encrypt method(*: Need provide private key): hmac512(*), hmac256(*), sha224, sha256, sha384, sha512,
    # bcrypt(need cost, default: 14)
    method: bcrypt
    secret: 'rqF>mfHE.xZt3^)y-^pJUzU02aeHJ?LE'
    const: 14
  # JWT
  jwt:
    # JWT private key
    secret: 'qA}s.g,*hi+-PkGq>Cu.0-G38oPt69^t'
    # JWT Expire time(second)
    timeout: 2592000
  # RSA
  rsa:
    # Public key path
    public: ./public.pem
    # Private key path
    private: ./private.pem
  totp:
    issuer: frp-admin
# NacOS
nacos:
  enable: false
  # NacOS Host ip address or domain name
  ip: 10.4.61.203
  # NacOS port(default: 8848)
  port: 8848
  # User name
  username: ''
  # Password
  password: ''
  # Namespace
  namespace: 0ead3860-538a-4029-8246-20ff5b95f267
  # Config group
  group: dev
  # Config data number
  dataId: gin-config.yaml
  # Timeout
  timeout: 5000
  # Log level, default: debug
  loglevel: debug
# Develop mode(Bypass all auth)
develop: false
